* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.background {
  background: linear-gradient(45deg, #000, #8a2be2, #000080);
  height: 100vh;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

/* Adjust h1 font size for smaller screens */
@media (max-width: 600px) {
  .title {
    font-size: 24px; /* Increase font size for better visibility */
    margin-top: 20px; /* Add more top margin for better spacing */
  }
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 300px;
}

/* Adjust tile styles for better visibility and spacing on small screens */
.tile {
  border: 2px solid white;
  min-width: 60px; /* Decrease width for better spacing */
  min-height: 60px; /* Decrease height for better spacing */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px; /* Decrease font size for better visibility */
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
  background-color: #a6b2b9;
  color: white;
}

.tile:hover {
  background-color: #2980b9;
  transform: scale(1.1);
}

.playerX {
  color: #66ffa6;
}

.playerO {
  color: #c479ec;
}

.display {
  color: white;
  font-size: 18px; /* Decrease font size for better visibility */
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

/* Adjust button styles for better spacing on small screens */
.controls button {
  color: white;
  padding: 10px; /* Increase padding for better touchability */
  border-radius: 8px;
  border: none;
  font-size: 16px; /* Decrease font size for better visibility */
  margin-top: 1em;
  cursor: pointer;
  background-color: #e74c3c;
  transition: background-color 0.3s;
}

.controls button:hover {
  background-color: #c0392b;
}

.winning-tile {
  background-color: #ffd700;
  border: 2px solid #ff5733;
  color: #12181B;
  font-weight: bold;
}

/* Media Query for Larger Screens */
@media (min-width: 600px) {
  .container {
    max-width: 600px;
  }

  .tile {
    min-width: 150px;
    min-height: 150px;
    font-size: 80px;
  }

  .controls {
    flex-direction: row;
  }

  .controls button {
    margin-top: 0;
    margin-left: 1em;
  }
}
